* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #374b22;
}

.header-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding-top: 30px;
}

.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 150px;
}

.nav-header .header-a {
  margin: 0 52px; 
}

.header-a {
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  color: #ede4de;
  margin: 20px;
  text-decoration: none;
  font-size: 25px;
  font-weight: 500;
  transition: .4s ease;
}
.header-a::selection{
    background-color: transparent;
}
.header-a:hover{
    color: #EDC39E;
}

#main{
    padding: 0em 0em 27em 0em;
}

.main-content {
  display: flex;
  align-items: center;
}

.name {
  color: #ede4de;
  margin-top: 140px;
  margin-left: 300px;
}
.tittle {
  font-size: 80px;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.subTitle {
  font-size: 30px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.links {
  display: flex;
  gap: 0px 40px;
  margin-top: 20px;
  font-size: 30px;
  text-decoration: none;
}

.btn1 {
  background-color: #ede4de;
  border-radius: 8px;
  padding: 16px 32px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 4px 15px 12px rgba(0, 0, 0, .2);
  cursor: pointer;
  text-decoration: none;
  color: #374b22;
  font-weight: 700;
  transition: .4s ease;
}

.btn1:hover{
  background-color: #514028;
  color: #EDC39E;
  box-shadow: 0px 4px 20px 12px rgba(0, 0, 0, .4);
}
.btn1::selection{
    color: #374b22;
    background-color: transparent;
}
.btn2 {
  background-color: #ede4de;
  border-radius: 8px;
  padding: 16px 32px;
  box-shadow: 0px 4px 15px 12px rgba(0, 0, 0, .2);
  cursor: pointer;
  text-decoration: none;
  color: #374b22;
  font-weight: 700;
  transition: .4s ease;
}
.btn2:hover{
  background-color: #EDC39E;
  color: #514028;
  box-shadow: 0px 4px 20px 12px rgba(0, 0, 0, .4);
}
.btn2::selection{
    color: #374b22;
    background-color: transparent;
}
::selection{
    color: #374b22;
    background-color: #EDC39E;
}

/* Section Sobre */
/* (top, right, bottom, left) */
#sobre{
  background-color: #EDECED;
  padding: 1em 15em 6em 15em;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}
.sobre-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-indent: 1em;
    /* padding: 10em 1em 10em 15em; */
}
.paragrafo{
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  padding-bottom: 1em;
}
.text-sobre{
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 60px;
  color: #374b22;
  padding: 1em 0em 1em 0em;
}


/* Section projetos com modal  */

.text-trabalho{
  display: flex;
  justify-content: center;
  padding: 100px 0px 100px 0px;
  font-size: 60px;
  color: #EDC39E;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}
.trabalhos-content{
  padding: 100px 0px 120px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* Modal */
.modal-header{
  border: none;
  background-color: #f7f7f7;
}

.modal-body{
  display: flex;
  flex-direction: column;
  background-color: #EDECED;
  color: #212529;
}

.imgWork{
  width: 500px;
}
.imgWork,.btnOpenModal{
  border-radius: 16px;
}
.btnOpenModal{
  border: none;
  box-shadow: 10px 10px 20px 12px rgba(0, 0, 0, 0.2);
}
#openM{
  transition: opacity 0.3s ease;
}
#openM:hover{
  opacity: 0.7;

}
.modal-footer{
  border: none;
  background-color: #f7f7f7;
}
.btn-secondary{
  font-weight: bold;
  background-color: #514028;
  color: #ede4de;
  border: none;
}
.btn-secondary:hover{
  background-color: #EDC39E;
  color: #374b22;
}

/* Section Contato */
#contato{
  background-color: #EDECED;
  padding: 1em 15em 6em 15em;
}
.text-contato{
  display: flex;
  justify-content: center;
  padding: 100px 0px 100px 0px;
  font-size: 60px;
  color: #374b22;
  text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  font-weight: 700;
}

/* Form box */
.form-box{
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #ede4de;
  border-radius: 10px;
  width: 50%;
}
